body{
    color: #e9eaec !important;
    --page-block-shadow: 0 1px 0 0 #222222, 0 0 0 1px #222222 !important;
}
body.new_header_design .page_header_wrap {
    background-color: #01b075 !important;
}
.scroll_fix {
    background-color: #16171b !important;
}
.wall_text {
    background-color: #202125 !important;
    color: #e9eaec !important;
}
body.new_header_design #side_bar ol li .left_row {
    color: #e9eaec !important;
}
.LeftMenu__icon {
    color: #6f7074 !important;
}
.PostHeader--legacy.PostHeader--inPost {
    
    background-color: #202125 !important;

}
.page_block {
    background: #202125 !important;
}
.page_name, h1.page_name {
    color: #e9eaec !important;
}
.FlatButton--secondary {
    background-color: #01b075 !important;
}
[dir] .FlatButton--secondary:not(.disable):hover {
    background-color: #08f5a6 !important;
    color: #e9eaec !important ;
}